<template name="chatroom">
<div id="container">
  <div id="messages">
  	{{#if notAlone}}
      <div id="receiver">{{receiverMessage}}<span class="cursor">|&nbsp;</span></div>
      {{else}}
        <div>Waiting for recipient</div>
    {{/if}}

     <div id="sender">{{senderMessage}}<span class="cursor">|&nbsp;</span></div>

  </div>

  <input type="text" id="chat" style="opacity:0; filter:alpha(opacity=0);">
 </div>

 <div style="position:fixed; bottom: 0px; width: 100%; background-color: white; opacity: 0.6;">
 	<div style="margin: 0 auto; max-width: 440px">
 		<div style="margin: 20px 0;">
 			<input type="text" name="country" value="https://www.vapor.im/room/{{link}}" style="font-size: 16px; font-style:'Helvetica' font-weight: lighter; margin: 0; padding: 5px; width: 400px;"  readonly/>
 		</div>
 	</div>
 </div>
</template>